@model IEnumerable<CompreSuaFruta.Model.Models.ProdutoCarrinho>
@using CompreSuaFruta.Model.Models
@using Newtonsoft.Json;
@{
    ViewData["Title"] = "Carrinho";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var itensCarrinho = (List<ProdutoCarrinho>)ViewData["itensCarrinho"];
    double total = 0;
    int numeroItens = 0;
    string mensagem = (string)ViewData["Mensagem"];

    if (itensCarrinho != null && itensCarrinho.Count > 0)
    {
        numeroItens = (int)ViewData["numeroItens"];
    }

    if (itensCarrinho != null && itensCarrinho.Count > 0)
    {
        total = @itensCarrinho.Sum(c => c.ValorTotal);
    }
    TempData["itensCarrinho"] = JsonConvert.SerializeObject(itensCarrinho);
    TempData["numeroItens"] = numeroItens;
}

@if (String.IsNullOrWhiteSpace(mensagem) == false)
{
    <div class="row alert alert-info">
        <h5>@mensagem</h5>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <center>
                <h2>Carrinho</h2>
            </center>
            <div class="panel panel-default margintop20" style="padding: 20px;">
                <!-- Default panel contents -->
                @if (itensCarrinho != null && itensCarrinho.Count > 0)
                {
                    <!-- Table -->
                    <table class="table">
                        <tr align="center">
                            <td>
                                <strong>
                                    Nome:
                                </strong>
                            </td>
                            <td>
                                <strong>
                                    Valor Unitário:
                                </strong>
                            </td>
                            <td>
                                <strong>
                                    Quantidade:
                                </strong>
                            </td>
                            <td>
                                <strong>
                                    Valor Total:
                                </strong>
                            </td>
                        </tr>
                        @foreach (var item in itensCarrinho)
                        {
                            <tr align="center">
                                <td>
                                    @item.Nome
                                    <div class="margintop10"> <a style="color:blue" href="@Url.Action("RemoverItem", "Carrinho" , new { idProduto = item.IdProduto} )">Remover Item</a></div>
                                </td>
                                <td>
                                    @string.Format("R$ {0:N2}", Convert.ToDouble(item.ValorUnitario))
                                </td>
                                <td>

                                    <div class="">
                                        <a class="btn btn-default" href="@Url.Action("AtualizarItem", "Carrinho", new { idProduto = item.IdProduto, novaQuantidade = item.QuantidadeProduto + 1})">

                                            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                                            <span class="sr-only">Acrescentar um item</span>
                                        </a>
                                    </div>
                                    @item.QuantidadeProduto

                                    <div class="">
                                        <a class="btn btn-default" href="@Url.Action("AtualizarItem", "Carrinho", new { idProduto = item.IdProduto, novaQuantidade = item.QuantidadeProduto - 1})">

                                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                                            <span class="sr-only">Retirar um item</span>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    @string.Format("R$ {0:N2}", Convert.ToDouble(item.ValorTotal))
                                </td>
                            </tr>
                        }

                            <tr align="center">
                                <td></td>
                                <td></td>
                                <td>
                                    <strong>Total:</strong>
                                </td>
                                <td>
                                    <strong>
                                        @string.Format("R$ {0:N2}", total)
                                    </strong>
                                </td>
                            </tr>

                    </table>

                    <div class="form-group margintop20 text-center">
                        <a class="btn btn-default" href="@Url.Action("ConfirmarCompra", "Carrinho")">

                            <span class="glyphicon" aria-hidden="true">Confirmar Compra</span>
                        </a>
                    </div>
                }

                else
                {
                    <div class="margintop20 text-center">
                        <text>Carrinho Vazio!</text>
                    </div>
                }
            </div>

        </div>
    </div>
</div>

